analysis/.ipy*
clinker-groups-test
.DS_Store
*.ipynb_checkpoints*
data
./analysis/1_PHD_PROJECT/1_ASSEMBLIES_QC/data/*
analysis/5_ANNOTATION/*tables/*
analysis/4_GWAS/KL107.tsv
analysis/5_ANNOTATION/annot.tsv
analysis/5_ANNOTATION/Icon*
repos
